/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
body {
	background-image: url("/assets/img/landing-page.jpg"); /* The image used */
  background-color: #696666; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }


.container {
	margin-top: 25%;
}
h5 {
	color: whitesmoke;
}
a {
	color: whitesmoke;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	a:link, #h1 {
    font-size: 18px;
    margin: 0;
	}
  }