/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
body {
	background-image: url("/assets/img/main-page.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }
.footer {
	text-align: center;
}

.nav-link, .navbar-brand {
	color: white;
}
a:link, a:visited {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  li {
	list-style: none !important;
  }
  a:hover  {
	color: turquoise;
  }
  .card-footer {
	background-color:  teal !important;
}
small a:hover {
	color: rgb(222, 238, 77) !important;
}

.footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 36, 36);
  color: white;
  text-align: center;
  padding: 10px 0 ;
}
span {
	color: white;
}
#alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
  h2 {
	  text-align: center;
	  text-decoration: underline;
	  color: white;
	  margin-bottom: 20px;
  }
  #contact {
	  background-color: rgb(121, 126, 141);
	  padding: 20px;
  }
  label {
	  color: white;
  }
  #about-me {
	max-width: 90%; 
	margin: auto;
	 margin-top: 100px;
	 border-radius: 15px;
  }
  .card:hover {
background-color: rgb(80, 82, 82);
opacity: 0.7;
color: white;
  }