* {
  box-sizing: border-box;
}

  body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #777;
    background-color: rgb(86, 87, 85);
  }

  .jumbotron{
    background-color: rgb(43, 63, 63) !important;
    padding-bottom: 20px;
    margin-top: 100px;
  }
  /*
  .thumbnail{
    background-color: rgb(197, 41, 33);
  }
 */
  h1,
  h2,
  a,
  p {
    margin-bottom: 20px;
  }
   a:link{
    text-decoration: none;
  }
  /*
  a :hover{
    background-color: red;
  } */
  h1,
  h2,
  h3
   {
    font-weight: 700;
    color: #4aaaa5;
  }
    P{
      color: #fff;
      font-family: 'Courier New', Courier, monospace;
      text-justify: auto;
      font-size: 20px;
    }
  h1 {
    padding-bottom: 10px;
    line-height: 49px;
   /* border-bottom: 3px solid #ddd;*/
  }
  
  h2{
    font-size: 22px;
  }
  
  a{
    font-size: 18px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }

 /* nav {
    float: right;
   padding-top: 20px; 

  } 
  
 /* nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  } */
  nav a:first-child {
    border-left: 0 none;
    font-size: 30px;
    margin-right: 20px;
  }
  
  /* footer */
  
  #footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
   
  }
  
 .navbar{
   padding: 0;
   margin: 0;
  padding-top: 10px;
}
  /* main */
 #container {
    padding-top: 20px;
  }
/*

  */
  #bio-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  /* contact page */
  
  #contact-info ul {
    margin-bottom: 20px;
  }
  
  #contact-info li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea[type=textarea] {
    display: block;
    width: 50%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
#submit{
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }


/* Center website */
/*.main {
  max-width: 1000px;
  margin: auto;
} */

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 20px;
  
}
.column .image{
  height: 300px;
  height: 300px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}
.column  :hover{
  background-color: yellowgreen;
}
/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
 
  
@media (min-width: 1200px) { 
  .column {
    width: 33%;
}
/*
.navbar-header a {
  font-size: 18px;
}    
.navbar-brand {
  padding-right: 0;
  font-size: 24px;
} */
 }
@media (min-width: 992px) and (max-width: 1199.98px){
  .column {
    width: 50%;
}
/*
.navbar-header a {
  font-size: 10px;
}    
.navbar-brand {
  padding-right: 0;
  font-size: 24px;
} */
nav a:first-child {
  font-size: 24px;
}
}
@media (min-width: 768px) and (max-width: 991.98px) { 
  .column {
    width: 50%;
}
/*
.navbar-header a {
  font-size: 18px;
}  

.navbar-brand {
 padding-right: 0;
 font-size: 24px;
}
*/
.jumbotron{
padding-top: 20px;
}
label,
input[type=text],
input[type=email],
textarea[type=textarea] {
display: block;
width: 100%;
}
nav a:first-child {
  font-size: 20px;
}
 } 
  
 @media (min-width: 576px) and (max-width: 767.98px)  {  
    .column {
  width: 100%;
}
/*
.navbar-header a {
font-size: 14px;
}  

.navbar-brand {
padding-right: 0;
font-size: 16px;
}
*/
#bio-image {
width: 100%;
}
label,
input[type=text],
input[type=email],
textarea[type=textarea] {
display: block;
width: 100%;
}
h1, h2, h3{
text-align: center;
font-size: 24px;

}
nav a:first-child {
  font-size: 18px;
}

.jumbotron{
padding-top: 20px;
margin-top: 120px;
}
/*
.navbar-header{
padding-right: 50px;
}
*/
} 

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 575.98px) {
  .column {
      width: 100%;
  }
 /*a .navbar-header {
    font-size: 18px;
  }  
 
  .navbar-brand {
   padding-right: 0;
   font-size: 100px;
 } */
 #bio-image {
  width: 100%;
}
label,
  input[type=text],
  input[type=email],
  textarea[type=textarea] {
    display: block;
    width: 100%;
  }
  h1, h2, h3{
    text-align: center;
    font-size: 20px;

  }


.jumbotron{
  padding-top: 20px;
  margin-top: 100px;
}

nav a:first-child {
  font-size: 18px;
}
}


